<!DOCTYPE html>
<html lang="en">
    <head>
        <title>IT Learning Center - Admin</title>
        <link rel="stylesheet" href="/css/admin/adminStyle.css">
    </head>
    <body>

        <header class="staticHeader">
            <h1>IT Learning Center</h1>
            <nav class="staticNavBar">
                <a href="/home">home</a>
                <a href="/adminDashboard">Dashboard</a>
                <a href="/adminLogin">Admin Login</a>
            </nav>
        </header>
