<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <p>Add an Appointment:</p>
    <form action="/studentCreateAppointment" method="POST">
        <p>Student:
            <select name="studentId" required>
                <% students.forEach(function(student) { %>
                    <option value="<%= student._id %>">
                        <%= student.name %>
                    </option>
                    <% }); %>
            </select>
        </p>
        <p>Tutor:
            <select name="tutorId" required>
                <% tutors.forEach(function(tutor) { %>
                    <option value="<%= tutor._id %>">
                        <%= tutor.name %>
                    </option>
                    <% }); %>
            </select>
        </p>
        <p>Course: <input type="text" name="course" required> Example format: "IT 179"</p>
        <p>Start Time: <input type="datetime-local" name="scheduledStart"> Book for 1 hour</p>
        <button type="submit">Make Appointment</button>
    </form>
</body>

</html>